.about-section {
  @include media(desktop) {
  }
}

.about-bg-wrapper {
  padding-top: 48px;
  padding-bottom: 48px;
  margin-left: auto;
  margin-right: auto;
  max-width: 375px;

  @include media(desktop) {
    padding-top: 72px;
    padding-bottom: 72px;
    max-width: 1440px;
  }
}

.about-container {
  @include media(desktop) {
  }
}

.about-content-wrapper {
  display: flex;
  flex-direction: column;
  gap: 24px;

  @include media(desktop) {
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
}

.about-text-wrapper {
  @include media(desktop) {
    max-width: 661px;
  }
}

.about-title {
  margin-bottom: 4px;

  @include media(desktop) {
    text-align: left;
  }
}

.about-text {
  font-family: 'Manrope', sans-serif;
  font-weight: 500;
  font-size: 15px;
  line-height: 1.73333;
  color: #bebecd;

  @include media(desktop) {
  }
}

.about-img {
  margin-left: auto;
  margin-right: auto;

  @include media(desktop) {
    min-width: 139px;
    margin: 0;
  }
}
