.hero-section {
  @include media(desktop) {
  }
}

.hero-bg-wrapper {
  padding-top: 126px;
  padding-bottom: 32px;
  max-width: 375px;
  margin-left: auto;
  margin-right: auto;

  @include media(desktop) {
    padding-top: 170px;
    padding-bottom: 0;
    max-width: 1440px;
  }
}

.hero-container {
  @include media(desktop) {
  }
}

.hero-content-wrapper {
  background: #4f2b6c;
  border-radius: 8px;
  padding: 24px 8px;
  display: flex;
  flex-direction: column;
  gap: 32px;

  @include media(desktop) {
    padding: 24px;
    padding-right: 4px;
    flex-direction: row;
    align-items: center;
    gap: 12px;
    justify-content: space-between;
  }
}

.hero-text-wrapper {
  border: 1px solid #00f5a0;
  border-radius: 4px;
  padding: 11px;

  @include media(desktop) {
    max-width: 626px;
  }
}

.hero-main-title {
  font-family: 'Outfit', sans-serif;
  font-weight: 500;
  font-size: 40px;
  line-height: 1.05;
  color: #eff1ff;
  margin-bottom: 8px;

  @include media(desktop) {
    font-size: 56px;
    line-height: 1.03571;
  }
}

.hero-subtitle {
  font-family: 'Manrope', sans-serif;
  font-weight: 600;
  font-size: 24px;
  line-height: 1.25;
  color: #bebecd;
  margin-bottom: 8px;

  @include media(desktop) {
  }
}

.hero-text {
  border: 1px solid #00f5a0;
  border-radius: 4px;
  padding: 7px;
  font-family: 'Manrope', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.625;
  color: #bebecd;

  @include media(desktop) {
    max-width: 602px;
  }
}

.hero-img {
  margin-left: auto;
  margin-right: auto;

  @include media(desktop) {
    min-width: 630px;
    margin: 0;
  }
}
