.reviews-section {
  @include media(desktop) {
  }
}

.reviews-bg-wrapper {
  padding-top: 48px;
  padding-bottom: 48px;
  max-width: 375px;
  margin-left: auto;
  margin-right: auto;

  @include media(desktop) {
    padding-top: 72px;
    padding-bottom: 72px;
    max-width: 1440px;
  }
}

.reviews-container {
  @include media(desktop) {
  }
}

.reviews-title {
  margin-bottom: 16px;

  @include media(desktop) {
    margin-bottom: 36px;
  }
}

.reviews-list {
  display: flex;
  flex-direction: column;
  gap: 16px;

  @include media(desktop) {
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
}

.reviews-slide {
  border: 1px solid #00f5a0;
  border-radius: 4px;
  padding: 15px;

  @include media(desktop) {
  }
}

.reviews-item-text {
  font-family: 'Manrope', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.625;
  color: #bebecd;
  margin-bottom: 12px;

  @include media(desktop) {
  }
}

.reviews-item-name {
  font-family: 'Outfit', sans-serif;
  font-weight: 600;
  font-size: 20px;
  line-height: 1.2;
  color: #eff1ff;

  @include media(desktop) {
  }
}
