<section class="section about-section" id="about">
  <div class="about-bg-wrapper">
    <div class="container about-container">
      <div class="about-content-wrapper">
        <picture>
          <source
            srcset="./img/about/about-img-desk.png"
            media="(min-width: 1440px)"
            width="139"
            height="45" />
          <source
            srcset="./img/about/about-img-mob.png"
            width="69"
            height="139" />
          <img
            class="about-img"
            src="./img/about/about-img-mob.png"
            alt="Screenshot of the game"
            width="69"
            height="139"
            loading="lazy"
        /></picture>
        <div class="about-text-wrapper">
          <h2 class="section-title about-title">Gameplay Mechanics</h2>
          <p class="about-text">
            The game uses a mix of sliding puzzles and pathfinding logic. You
            can move most objects on the screen by swiping, but some are fixed
            in place or can only move in one direction. Your character only
            starts moving once you hit the "Go" button, so you have to be sure
            the path is actually clear before you send them off. If they hit a
            dead end or a trap, you just reset the level and try a different
            approach.
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
