<section class="section hero-section" id="home">
  <div class="hero-bg-wrapper">
    <div class="container hero-container">
      <div class="hero-content-wrapper">
        <div class="hero-text-wrapper">
          <h1 class="hero-main-title">Make a way for the hero</h1>
          <p class="hero-subtitle">
            Slide, shift, and clear the path before time runs out.
          </p>
          <p class="hero-text">
            You don’t need fast fingers here, just a solid plan. Each level
            gives you a cluttered board where the exit is blocked by heavy
            crates or broken tiles. You have to figure out the exact sequence of
            moves to open up a "clear trail" for your character to walk through.
            It’s satisfying, a bit addictive, and feels great when a complex
            plan finally works out.
          </p>
        </div>
        <picture>
          <source
            srcset="./img/hero/hero-img-desk.png"
            media="(min-width: 1440px)"
            width="630"
            height="292" />
          <source
            srcset="./img/hero/hero-img-mob.png"
            width="327"
            height="152" />
          <img
            class="hero-img"
            src="./img/hero/hero-img-mob.png"
            alt="Screenshot of the game"
            width="327"
            height="152"
        /></picture>
      </div>
    </div>
  </div>
</section>
